---
import BaseLayout from "@layouts/BaseLayout.astro";
import SearchComponent from "@components/search";
import { getCollection } from "astro:content";
const data = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});

const blogs = data.map((post) => {
  return {
    title: post.data.title,
    url: post.slug,
    content: post.body,
    tags: post.data.tags,
    description: post.data.description,
  };
});
---

<BaseLayout title="Search" description="Search for articles">
  <main class="mt-20 p-3 min-h-screen">
    <SearchComponent client:load blogs={blogs} />
  </main>
</BaseLayout>
